<div class="ui-popup popup-reset">
	<a href="javascript:void();" class="ui-popup-close glyphicon glyphicon-remove"></a>
	<h2>Reset Password</h2>

	<form>
		<label>
			<input type="password" id="password1" placeholder="New password" />
		</label>
		<label>
			<input type="password" id="password2" placeholder="Password Again" />

			<div class="tooltip-error-right">
				<img src="images/tooltip-error-left.png" />
				<span></span>
			</div>
		</label>
		<label>
			<input type="submit" id="reset" value="Reset Password" />
			<img src="images/ajax-loader-blue.gif" class="loader" style="display: none;">
		</label>
	</form>
</div>