<div class="ui-popup popup-forgot">
	<a href="javascript:void();" class="ui-popup-close glyphicon glyphicon-remove"></a>
	<h2>Forgot Password</h2>

	<form>
		<label>
			<input type="text" id="username-email" placeholder="Email address or username" />

			<div class="tooltip-error-right">
				<img src="images/tooltip-error-left.png" />
				<span></span>
			</div>
		</label>
		<label>
			<input type="submit" id="reset" value="Reset Password" />
			<img src="images/ajax-loader-blue.gif" class="loader" style="display: none;">
		</label>
	</form>
</div>