<div id="container">
	<div id="form-container">
		<h1>Please Authenticate</h1>
		<form>
			<div id="arrow-left"></div>

			<img id="uf-logo" src="/images/uf.png" />

			<input type="button" id="gatorlink" class="btn-green" value="Sign In With GatorLink" />

			<div class="clear"></div>
			<div class="spacer"></div>

			<label>
				<input type="text" id="username" placeholder="Username" />
			</label>

			<label>
				<input type="password" id="password" placeholder="Password" />
			</label>

			<label>
				<div class="tooltip-error-left">
					<img src="images/tooltip-error-right.png" />
					<span></span>
				</div>
				<input type="submit" id="submit" value="Sign In" />
				<img src="images/ajax-loader-blue.gif" class="loader" />
			</label>
		
			<p><a href="javascript:void(0);" id="forgot">Lost Password</a> | <a href="javascript:void(0);" id="request">Request Account</a></p>

		</form>
		
	</div>

	<img src="images/logo.png" id="logo" />
	
	<div class="clear"></div>
</div>

<div id="footer">
	&copy; 2013 University of Florida &amp; ICBR
</div>
