<div id="container">
	<div id="form-container">
		

		<div id="inner">
			<div id="arrow-left"></div>
			
			<h1>Your Account Is Disabled</h1>
			
			<p>Hello <strong><%- user.first_name %></strong>,</p>
			
			<p>It appears your account has been disabled. In order to use the SSLIMS application you must have permission from the core manager.</p>
			
			<p>Please speak with your core manager to reinstate your account.</p>

			<br />

			<input type="button" id="check" value="Check Account Status" />
		</div>
		
	</div>

	<img src="images/logo.png" id="logo" />
	
	<div class="clear"></div>
</div>

<div id="footer">
	&copy; 2013 University of Florida &amp; ICBR
</div>