<div class="ui-popup-wrapper">
	<div class="ui-popup-vcenter">
		<div class="ui-popup popup-reset">
			<a href="javascript:void(0);" class="ui-popup-close glyphicon glyphicon-remove"></a>
			
			<form>
				<h2>Create Sheet Configuration</h2>

				
				<table>
					<tbody><tr>
						<td>
							<label>Alias</label>
							<input type="text" class="instrument-alias">
						</td>
					</tr>
					<tr>
						<td>
							<label>Application</label>
							<input type="text" class="instrument-application">
						</td>
					</tr>
					<tr>
						<td>
							<label>Plate Sealing</label>
							<input type="text" class="instrument-plate">
						</td>
					</tr>
					<tr>
						<td>
							<label>Result Group</label>
							<input type="text" class="instrument-result">
						</td>
					</tr>
					<tr>
						<td>
							<label>Instrument Protocol</label>
							<input type="text" class="instrument-protocol">
						</td>
					</tr>
					<tr>
						<td>
							<label>Analysis Protocol</label>
							<input type="text" class="instrument-analysis">
						</td>
					</tr>
					<tr>
						<td>
							<label>Photo (.jpg, .png, .gif)</label>
							<input type="file" class="instrument-photo">
						</td>
					</tr>

				</tbody></table>

				<input type="submit" class="right" value="Create Configuration">
				
			</form>
		</div>
	</div>
</div>