<div class="ui-popup-wrapper">
	<div class="ui-popup-vcenter">
		<div class="ui-popup popup-createalerttemplate popup-reset">
			<a href="javascript:void(0);" class="ui-popup-close glyphicon glyphicon-remove"></a>

			<h2>Create Alert Template</h2>

			<label>Subject</label>
			<input type="text" class="alert-template-subject" />

			<label>Message</label>
			<textarea class="alert-template-msg"></textarea>

			<input type="button" class="create-alert-template btn-green" value="Create Alert Template" />

		</div>
	</div>
</div>