.request-samples {
	overflow: scroll;
	overflow-y: scroll;
	height: 84px;
	border: 1px solid #d1d1d4;

	padding: 10px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background-color: #fafafb;
	margin-top: 5px;
}

#scanned-request-info {
	font-size: 14px;
}