* {
	margin: 0;
	padding: 0;
}

html, body, #sslims {
	height: 100%;
}

body {
	font-family: Helvetica;
	color: #858589;
	font-size: 13px;
	line-height: 19px;
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 15px;
}

h2 {
	font-size: 18px;
	color: #79797d;
	padding-bottom: 10px;
	border-bottom: 1px solid #d1d1d4;
	font-weight: normal;
}

h3 {
	font-size: 14px;
	color: #79797d;
	padding-bottom: 10px;
	border-bottom: 1px solid #d1d1d4;

}

a {
	color: #248fd3;
}

input[type=button], input[type=submit] {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
	font-size: 15px;
	color: #FFF;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 32px;
	padding-left: 32px;
	margin-right: 10px;
	cursor: pointer;
	background-color: #248fd3;
	-webkit-appearance: none;
}



.btn-green {
	background-color: #00ce9b !important;
}

.btn-blue {
	background-color: #248fd3 !important;
}

.btn-red {
	background-color: #f35e5e !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.search {
	background-image: url(../images/icon-search.png);
	background-repeat: no-repeat;
	background-position: 95%;

	padding-right: 27px !important;
}

form input[type=text], form input[type=password], form select {
	width: 100%;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 0.01px;
 	text-overflow: "";
	background-image: url(../images/ui-select.png);
	background-repeat: no-repeat;
	background-position: 95%;
}

form td {
	padding-right: 10px;
	padding-bottom: 10px;
}

form td:last-child {
	padding-right: 0;
}

.ui-table td:last-child {
	padding-right: 10px;
}

input[type=text]:disabled, input[type=password]:disabled, select:disabled, textarea:disabled {
	background-color: #fcfcfc;
	border-color: #ddddde;

}


input[type=text], input[type=password], select, textarea {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	padding: 10px;

	font-size: 13px;
	color: #aaaaad;

	width: 160px;

	background-color: #FFF;

	border-style: solid;
	border-width: 1px;
	border-color: #c6c6ca;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
}

textarea {
	width: 100%;
	height: 100px;
}

label {
	display: block;
	font-size: 14px;
	margin-bottom: 6px;
}


label input[type=radio] {
	display: none;
}

td {
	vertical-align: top;
}

label input[type=radio] + span {
	display: inline-block;

	width: 20px;
	height: 20px;

	cursor: pointer;
	
	background: url(../images/ui-radio.png) right top no-repeat;

	vertical-align: bottom;
}

.ui-table label {
	margin-bottom: 0;
}

.ui-table-btn {
	text-align: center;
	line-height: 100% !important;
	vertical-align: middle;
}

input[type=radio]:checked + span {
	background: url(../images/ui-radio.png) left top no-repeat;
}

textarea {
	line-height: 20px;
}

label input[type="checkbox"] {
	display: none;
}

label input[type="checkbox"] + span {
	display: inline-block;

	vertical-align: middle;
	
	width: 20px;
	height: 20px;

	cursor: pointer;
	
	background: url(../images/ui-checkbox.png) left top no-repeat;
}

input[type="checkbox"]:checked + span {
	background: url(../images/ui-checkbox.png) right top no-repeat;
}

input[type=button]:last-child {
	margin-right: 0;
}

.chk::selection {
	color: transparent;
}

.chk {
	width: 41px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

table {
	border-spacing: 0;
	width: 100%;
}

.table-container {
	overflow: scroll;
	overflow-y: hidden;
	margin-bottom: 12px;
}

.ui-table-highlight td {
	background-color: #d1ece5 !important;
}

.ui-table th {
	background-color: #4d4c50;
	border-top: 1px solid #969597;
	line-height: 50px;
	color: #e5e6e6;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
}

.ui-table-input {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ui-table-item-view {
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.ui-tab-content .ui-table {
	margin-bottom: 0;
}

.ui-table th a {
	color: #e5e6e6;
	text-decoration: none;
}

.ui-table th .glyphicon {
	font-size: 11px;
	vertical-align: text-top;
}

.ui-table th:first-child {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	border-left: 1px solid #969597;
}

.ui-table th:last-child {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	border-right: 1px solid #969597;
}


.ui-table td {
	background-color: #fafafb;
	border: 1px solid #d1d2d4;
	border-top: none;
	border-left: none;
	line-height: 45px;
}

.ui-table td:first-child {
	border-left: 1px solid #d1d2d4;
}

.ui-table th, .ui-table td {
	padding-left: 10px;
	padding-right: 10px;
	white-space: nowrap;
}

.ui-table tfoot td:first-child {
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}

.ui-table tfoot td:last-child {
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}

.ui-table tfoot td {
	background-color: #f1f1f2;
}

.ui-table tfoot input[type=text] {
	height: 28px !important;
	width: 150px;
}

.ui-pagination span a {
	padding: 9px;
	display: inline-block;
	border: 1px solid #e5e5e7;
	background-color: #fafafb;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	line-height: 12px;
}

.ui-pagination .glyphicon {
	color: #d1d2d5;
}

.ui-pagination a {
	text-decoration: none;
	color: #79797d;
}

.ui-pagination .selected {
	color: #1bd3a4;
	border-color: #1bd3a4;
	height: auto !important;
}

.half-width {
	float: left;
	width: 50%;
}

.clear {
	clear: both;
}


.ui-tab-group .ui-tab-content {
	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 4px;
	-moz-border-radius-topleft: 0;
	border-radius: 4px;
	border-top-left-radius: 0;

	border: solid 1px #d1d1d4;

	background-color: #f1f1f2;

	padding: 15px;
	margin-top: -1px;
}

.ui-tab-group .ui-tabs {
	list-style-type: none;
}

.ui-tabs a {
	text-decoration: none;
	font-weight: bold;
	color: #858589;
}

.ui-tab-group .ui-tabs .selected {
	height: 26px;
}

.ui-tab-group .ui-tabs li {
	float: left;
	height: 25px;
	line-height: 25px;
	
	background-color: #f1f1f2;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	border: solid 1px #d1d1d4;

	border-bottom: 0;

	padding-left: 17px;
	padding-right: 17px;

	margin-right: 12px;
}

.ui-tab-content {
	display: none;
}

.ui-popup-bg {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);

	z-index: 1;
}

.ui-popup {
	visibility: hidden;

	display: none;

	background-color: #f1f1f2;
	border: solid 1px #d1d1d4;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	width: 400px;

	padding: 30px;

	margin: auto;

	position: relative;

	overflow-y: scroll;
	max-height: 699px;
}

.ui-comment {
	border-style: solid;
	border-width: 1px;
	border-color: #d1d1d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	background-color: #FFF;
}

.ui-comment-name {
	font-weight: bold;
	font-size: 14px;
}

.ui-comment p {
	margin-top: 5px;
}

.ui-comment-picture {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.ui-comment-age {
	float: right;
}

.ui-popup-close {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
	color: #68686c;
	text-decoration: none;
	font-size: 16px;
}

.tooltip-error-left, .tooltip-error-right {
	position: absolute;
	background-color: #f38585;
	border: solid 1px #f33535;
	padding: 10px;
	white-space: nowrap;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFF;
	font-weight: bold;
	display: none;
	z-index: 1;
}


.tooltip-error-left {
	top: -2px;
	margin-right: 15px;
	right: 100%;
}

.tooltip-error-right {
	left: 100%;
	top: -2px;
	margin-left: 15px;
}

.tooltip-error-right img {
	position: absolute;
	left: -12px;
	top: 12px;
}

.tooltip-error-left img {
	position: absolute;
	right: -12px;
	top: 12px;
}

.ui-upload {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 13px;
	cursor: pointer;
	background-color: #FFF;
	border-style: dashed;
	border-width: 1px;
	border-color: #c6c6ca;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	height: 100px;
	line-height: 100px;
}

.center {
	text-align: center;
}

.ui-tab-content table {
	margin-bottom: 12px;
}

tfoot input {
	vertical-align: middle;
	float: left;
	margin-top: 8px;

	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 10px;
}

.ui-table td {
	padding-bottom: 0;
}

.ui-tabs a.glyphicon-plus {
	color: #00ce9b;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
 
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #969597;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #969597;
}

@font-face {
	font-family: BrushScriptStd;
	src: url(../fonts/BrushScriptStd.otf);
}

.red {
	color: #f35e5e !important;
}

.ui-progress {
	position: relative;
	border: solid 1px #d1d2d4;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 23px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 1;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FFF;
}

.ui-progress-bar {
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-smaller {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.help-btn {
	margin-top: 6px;
	margin-right: 12px;
	font-size: 19px;
}
