<div class="ui-popup-wrapper">
	<div class="ui-popup-vcenter">
		<div class="ui-popup popup-reset">
			<a href="javascript:void(0);" class="ui-popup-close glyphicon glyphicon-remove"></a>
			
			<h2><span class="glyphicon <%= options.iconClass %>"></span> <%- options.title %></h2>

			<p style="font-size: 15px;"><%- options.msg %></p>

			<br />

			<input type="button" class="btn-green ok-btn right" style="margin-right:0;" value="OK" />
			<input type="button" class="btn-red cancel-btn right" style="margin-right:10px;" value="Cancel" />

			<div class="clear"></div>
		</div>
	</div>
</div>