<div class="box">
	<h2>Add SSLIMS to Home Screen Instructions</h2>
	
	<table>
		<tr>
			<td>
				<label>Step #1:</label>
				Touch the options icon in Safari.
			</td>
			<td><img src="/images/homescreen/i1.png" class="homescreen-instruct" /></td>
		</tr>
		<tr>
			<td>
				<label>Step #2:</label>
				Touch the "Add to Home Screen" button.
			</td>
			<td><img src="/images/homescreen/i2.png" class="homescreen-instruct" /></td>
		</tr>
		<tr>
			<td>
				<label>Step #3:</label>
				Touch "Add".
			</td>
			<td><img src="/images/homescreen/i3.png" class="homescreen-instruct" /></td>
		</tr>
		<tr>
			<td>
				<label>Step #4:</label>
				You will be forwarded to the home screen. Click the SSLIMS icon to login.
			</td>
			<td><img src="/images/homescreen/i4.png" class="homescreen-instruct" /></td>
		</tr>
	</table>
	
	<br />

	<input type="button" class="btn-blue" id="finished" value="I'm Finished">
</div>

