<div class="ui-popup-wrapper">
	<div class="ui-popup-vcenter">
		<div class="ui-popup popup-reset">
			<a href="javascript:void(0);" class="ui-popup-close glyphicon glyphicon-remove"></a>

			<h2>Upload Edited Chromatograms</h2>

			<p><strong>Tip:</strong> Applications such as <a target="_blank" href="http://www.geospiza.com/ftvdlinfo.html">FinchTV</a> can be used as a <strong>quick, modern, and easy</strong> solution to edit .ab1 files, and can be run on the same modern workstations (Windows 8.1 &amp; OSX) you use to upload edited chromatograms. No flash drives required.</p>

			<div class="upload-box">
				Drag and drop .ab1 files here
			</div>

			<div class="processed-uploads">
				<div class="clear"></div>
			</div>

			<input type="button" class="btn btn-green close-popup" value="Done" />

		</div>
	</div>
</div>